Projeto 3 - Serviços Web (REST ou gRPC)/API REST/__pycache__/models.cpython-310.pyc
Projeto 3 - Serviços Web (REST ou gRPC)/API REST/venv
Integration/venv

######

Projeto 1 - Arquitetura Orientada a Eventos/
Projeto 2 - Middleware Pyro e Algoritmo de Consenso/
Projeto 3 - Serviços Web (REST ou gRPC)/
Projeto 4 - Transações/comercio_monolitico.db

Projeto 3 - Serviços Web (REST ou gRPC)/Integrated/venv/lib/python3.10/site-packages/pgadmin4/pgadmin/browser/server_groups/servers/pgd_replication_groups/pgd_replication_servers/templates/pgd_replication_servers/sql/default/properties.sql
Projeto 3 - Serviços Web (REST ou gRPC)/Integrated/venv/lib/python3.10/site-packages/pgadmin4/pgadmin/browser/server_groups/servers/databases/foreign_data_wrappers/foreign_servers/user_mappings/templates/user_mappings/sql/default/update.sql
Projeto 3 - Serviços Web (REST ou gRPC)/Integrated/venv/lib/python3.10/site-packages/pgadmin4/pgadmin/browser/server_groups/servers/databases/foreign_data_wrappers/foreign_servers/user_mappings/templates/user_mappings/sql/default/delete.sql
Projeto 3 - Serviços Web (REST ou gRPC)/Integrated/venv/lib/python3.10/site-packages/pgadmin4/pgadmin/browser/server_groups/servers/databases/foreign_data_wrappers/foreign_servers/user_mappings/templates/user_mappings/sql/default/create.sql
Projeto 3 - Serviços Web (REST ou gRPC)/Integrated/venv/lib/python3.10/site-packages/pgadmin4/pgadmin/browser/server_groups/servers/databases/foreign_data_wrappers/foreign_servers/user_mappings/templates/user_mappings/sql/default/properties.sql
Projeto 3 - Serviços Web (REST ou gRPC)/Integrated/venv/lib/python3.10/site-packages/pgadmin4/pgadmin/browser/server_groups/servers/pgd_replication_groups/pgd_replication_servers/templates/pgd_replication_servers/sql/default/count.sql
Projeto 3 - Serviços Web (REST ou gRPC)/Integrated/venv/lib/python3.10/site-packages/pgadmin4/pgadmin/browser/server_groups/servers/pgd_replication_groups/pgd_replication_servers/templates/pgd_replication_servers/sql/default/nodes.sql
Projeto 2 - Middleware Pyro e Algoritmo de Consenso/New-trab-mult/servidor_pyro4.py
Projeto 2 - Middleware Pyro e Algoritmo de Consenso/New-trab-mult/servidor_pyro3.py
Projeto 2 - Middleware Pyro e Algoritmo de Consenso/New-trab-mult/servidor_pyro2.py
Projeto 2 - Middleware Pyro e Algoritmo de Consenso/New-trab-mult/servidor_pyro1.py
Projeto 2 - Middleware Pyro e Algoritmo de Consenso/New-trab-mult/cliente_pyro.py

comercio_monolitico.db
