Projeto 3 - Serviços Web (REST ou gRPC)/API REST/__pycache__/models.cpython-310.pyc
Projeto 3 - Serviços Web (REST ou gRPC)/API REST/venv
Integration/venv

######

Projeto 1 - Arquitetura Orientada a Eventos/
Projeto 2 - Middleware Pyro e Algoritmo de Consenso/
Projeto 3 - Serviços Web (REST ou gRPC)/
Projeto 4 - Transações/comercio_monolitico.db

